### Fundemental Data types

In [1]:
# fundemental data types
print(type(2))
print(type(2.344))
print(type(2/3))

<class 'int'>
<class 'float'>
<class 'float'>

In [70]:
# math functions
round(335.45495945, -2)
bin(25)  # Return the binary representation of an integer.
int('0b11001', 2)

25

In [7]:
# string

first_name = 'Don Usitha Mihiranga'
last_name = 'Uduwakaarachchi'
full_name = first_name + ' ' + last_name
print(full_name)

Don Usitha Mihiranga Uduwakaarachchi

In [71]:
# String Concatenation
print('hello'+' Usitha')

hello Usitha

In [72]:
str(100)
type(str(100))
type(int(str(100)))

int

In [73]:
# Escape sequence
Weather = "This is 'an' example for \"Esacpe\" sequence"
print(Weather)

This is 'an' example for "Esacpe" sequence

In [74]:
# formatted string
Name = 'Usitha'
age = 26

print(f'My name is {Name}. I\'m {age} years old.')  # or
print('My name is {}. I\'m {} years old.'.format('Usitha', '26'))
print('My name is {}. I\'m {} years old.'.format(Name, age))

My name is Usitha. I'm 26 years old.
My name is Usitha. I'm 26 years old.
My name is Usitha. I'm 26 years old.

In [75]:
name = 'Uduwakaarachchi'

print(name[1])
print(name[1:])
print(name[1:6])
print(name[1:-1])
print(name[:-1])
print(name[1:-1:2])
name[::-1]

name.count('a')

d
duwakaarachchi
duwak
duwakaarachch
Uduwakaarachch
dwkaahh

4

In [76]:
print(len(name))
print(name.upper())
print(name.capitalize())
print(name.index('k'))

15
UDUWAKAARACHCHI
Uduwakaarachchi
5

In [81]:
birth_year = int(input('what is you birth year?'))
your_age = 2025 - birth_year
your_age

29

In [82]:
print(f'you\'re {your_age} years old.')

you're 29 years old.

In [83]:
user_name = input('what is your name? ')
user_password = input('What is your password? ')

In [84]:
user_name
user_password = '*' * len(user_password)
print('User Name: ' + user_name)
print('Password: ' + user_password)

User Name: Usitha
Password: ************

Lists

In [85]:
cart = [
    'toys',
    'supplements',
    'foods',
    'fruits',
    'notebook',
    'sunglasses'
]

In [86]:
cart[::-1]

['sunglasses', 'notebook', 'fruits', 'foods', 'supplements', 'toys']

In [87]:
cart[cart.index('notebook')] = 'laptop'
cart

['toys', 'supplements', 'foods', 'fruits', 'laptop', 'sunglasses']

In [88]:
new_cart = cart[:]
new_cart[-2] = 'iPhone'

print(new_cart)
print(cart)

['toys', 'supplements', 'foods', 'fruits', 'iPhone', 'sunglasses']
['toys', 'supplements', 'foods', 'fruits', 'laptop', 'sunglasses']

In [89]:
import numpy as np

In [90]:
matrix = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]

List Methods

In [91]:
li = [1, 4, 2, 7, 12, 89, 34, 5]
li.sort(reverse=True)
li.append(112)
li

[89, 34, 12, 7, 5, 4, 2, 1, 112]

In [92]:
li.insert(2, 13)
li

[89, 34, 13, 12, 7, 5, 4, 2, 1, 112]

In [93]:
li.remove(2)
li

[89, 34, 13, 12, 7, 5, 4, 1, 112]

In [94]:
li.pop(2)
li

[89, 34, 12, 7, 5, 4, 1, 112]

In [95]:
basket = ['a', 'e', 'i', 'o', 'u']
print('e' in basket)

True

In [96]:
x = list(range(1, 100, 2))

Dictionaries

In [97]:
dictionary = {
    'a': 'apple',
    'b': 'ball',
    'c': 'cat',
    'd': 'dog',
    'e': [2, 5, 7, 8]
}
dictionary['e'][3]

8

In [98]:
my_list = [{
    'a': 'apple',
    'b': [2, 5, 7, 8]
},
    {
    'a': 'apple',
    'b': [2, 5, 7, 8]
}
]
my_list[1]['b'][3]

8

In [99]:
user = {
    'Name': 'Usitha',
    'tel': 119,
    'email': 'usitha@abc.com'
}

print(user.get('Name'))
print(user.get('age'))
print(user.get('age', 26))
print(user.get('email', 'usi@cba.com'))

Usitha
None
26
usitha@abc.com

In [100]:
print('age' in user)
print('email' in user)

False
True

In [101]:
user.keys()
user.setdefault('hair', 'black')  # inserting a key with specified value
user.values()
user.items()

dict_items([('Name', 'Usitha'), ('tel', 119), ('email', 'usitha@abc.com'), ('hair', 'black')])

In [102]:
user.pop('tel')
user

{'Name': 'Usitha', 'email': 'usitha@abc.com', 'hair': 'black'}

In [103]:
user.popitem()

('hair', 'black')

In [104]:
user.update({'age': 23})
user.update({'country': 'Sri Lanka'})

In [105]:
user

{'Name': 'Usitha',
 'email': 'usitha@abc.com',
 'age': 23,
 'country': 'Sri Lanka'}

Tuples

Tuples are immutable lists and tuples are created using normal brackets

In [106]:
my_tuple = (1, 2, 3, 4, 5, 6)
my_tuple[1]

2

In [107]:
5 in my_tuple
10 in my_tuple

False

In [108]:
x, y, z, *other = (1, 2, 3, 4, 5, 6)
other[2] = 2
other

[4, 5, 2]

Sets

sets are created using curly bracktes

In [109]:
my_set = {1, 2, 3, 4, 4, 4, 5, 6}
my_list = [1, 2, 3, 4, 4, 4, 5, 6, 6, 7, 7, 7]
my_set.add(10)
my_set.add(2)
print(my_set)
print(my_list)
print(set(my_list))

{1, 2, 3, 4, 5, 6, 10}
[1, 2, 3, 4, 4, 4, 5, 6, 6, 7, 7, 7]
{1, 2, 3, 4, 5, 6, 7}

In [110]:
1 in my_set
20 in my_set

False

In [111]:
my_list2 = [1, 2, 3, 4, 4, 4, 5, 6, 6, 7, 7, 7.5]
list_wo_duplicate = list(set(my_list2))
list_wo_duplicate

[1, 2, 3, 4, 5, 6, 7, 7.5]

In [112]:
len(set(my_list2))

8

In [113]:
len(list(set(my_list2)))

8

set methods

In [114]:
A = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}
B = {2, 3, 5, 7, 11, 13, }
C = {4, 8, 12, 16, 20, 24}

In [115]:
# The returned set contains items that exist only in the first set, and not in both sets.
print(A.difference(C))
print(C.difference(A))

{1, 2, 3, 5, 6, 7, 9, 10, 11, 13}
{16, 24, 20}

In [116]:
A.intersection(B)

{2, 3, 5, 7, 11, 13}

In [117]:
B.union(C)

{2, 3, 4, 5, 7, 8, 11, 12, 13, 16, 20, 24}

In [121]:
print(B.issubset(A))
C.issubset(A)

True

False

In [120]:
print(A.issuperset(B))

True